$primary-color: #54a0ff;

img{
    height:150px;
    width:100%;
  }
  
  .item{
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;;
  }
  .item-card{
    transition:0.5s;
    cursor:pointer;
  }
  .item-card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .item-card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:110px;  
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

    /* Make the image fully responsive */
    .carousel-inner img {
      height: 70vh ;

    }
    p{
      font-size: large;
    }
    .highlight {
      color: $primary-color;
      font-weight: bold;
    }
    // 
//     .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   height: 100px;
//   width: 100px;
//   outline: black;
//   background-size: 100%, 100%;
//   border-radius: 50%;
//   border: 1px solid black;
//   background-image: none;
// }

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  font-weight: bolder;
  color: $primary-color;

}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  font-weight: bolder;

  color: $primary-color;
}
    // 