<div class="body container-fluid">
  <header>
    <nav id="navbar">
      <div class="portrait">
        <img src="assets\img\Ahmedbreak.jpg" alt="ahmed_break" />
      </div>
      <ul class="justify-content-center">
        <li><a href="#welcome-section">About</a></li>
        <li><a href="#Education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="welcome-section">
      <h1>
        <div class="mb-3">Hi there! I am</div>
        <div class="font-weight-bolder">Ahmed <span class="highlight">Break</span></div>
      </h1>
      <h2 class="info font-weight-bolder mt-3">
        <div><span class="highlight">Full-Stack</span> · Team Lead</div>
      </h2>
      <div class="info">
        AL Riyadh · Saudi Arabia · (+966) 575-105-157
        <span class="highlight">ahmed_break8@yahoo.com</span>
      </div>
      <p>
        Seasoned software developer with over nine years of hands-on experience in end-to-end application development.
        Proficient in all phases of the software development life cycle, from design to maintenance.
        Adept at crafting tailored solutions to help businesses across various industries achieve their objectives.
        Possess a solid foundation in mathematics, algorithms, and data processing, complemented by expertise in leading
        programming tools.
      <div class="contacts">
        <a href="https://codepen.io/quocdat1994" target="_blank" data-toggle="tooltip" title="Last Project">
          <i class="fa fa-code" data-toggle="tooltip" title="Last Project"></i>

        </a>
        <a id="profile-link" href="https://github.com/AhmedBreak-HM" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://codepen.io/ahmedbreak-hm" target="_blank">
          <i class="fa fa-codepen"></i>
        </a>
        <a href="https://stackblitz.com/@AhmedBreak-HM" target="_blank">
          <i class="fa fa-bolt"></i>
        </a>
        <a href="https://www.facebook.com/ahmed.break.18" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/ahmed-break-98678319b" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCGJsFVJs8yj1f-wUVy8bVtg" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
    </section>
    <section id="Education">
      <h1 class="section-heading">Education</h1>
      <div class="experience">
        <h1 class="font-weight-bold text-secondary">Ain shams university faculty of
          commerce</h1>
        <br>
        <h3 class="font-weight-bold text-secondary">
          B.Sc. Business Management, May 2009,The Grade
          Average is Good.
        </h3>
        <br>
        <h1 class="font-weight-bold text-secondary">
          Cairo University, Faculty of Graduate
          Studies for Statistical Research,
          Department of Computer Science and
          Artificial Intelligence.

        </h1>
        <br>
        <h3 class="font-weight-bold text-secondary">
          I successfully obtained a Graduate Diploma in
          Computer Science from FGSSR in January 2023
          with a 'Very Good' overall grade.
        </h3>
        <br>
        <h3 class="font-weight-bold text-secondary">
          I'm diligently pursuing my Master's degree in
          Computer Science at FGSSR, class of 2023.

        </h3>
      </div>

    </section>
    <section id="experience">
      <h1 class="section-heading">Experience</h1>

      <div class="experience">
        <h2>Full-Stack Team Leader
        </h2>
        <br>
        <h3>ALHABASHI-GROUP
          <span class="text-primary font-weight-bold" style="font-size: 16px;margin-left: 10px">MAY 2022 - P R E S E N T

          </span>
        </h3>

        <p class="text-left">Spearheaded the development of Anaam systems for
          Ministry of Environment Water and Agriculture (MEWA )</p>

        <p>Epidemic Investigation Project: As the Development
          Team Lead, I directed the technical design and
          implementation of the system, ensuring timely detection
          and response mechanisms. My leadership ensured the
          adoption of best practices, code quality, and the
          integration of advanced technologies, ultimately optimizing
          the system's efficiency and effectiveness.
        </p>
        <br>
        <p>Vector Investigation Project: As the Development Team
          Lead, I steered the technical aspects of the project,
          implementing state-of-the-art solutions to mitigate disease
          transmission risks. My guidance ensured the seamless
          integration of innovative technologies, leading to a robust
          system that safeguards the health of livestock and
          surrounding communities.</p>
        <br>
        <p>
          Poultry Production Management Project: As the
          Development Team Lead, I designed and executed the
          system's tracking mechanisms, ensuring enhanced
          outcomes and increased productivity.

        </p>
        <br>
        <p>
          Veterinary Staff Management Project: As the
          Development Team Lead, I led the creation of a platform to
          elevate veterinary team standards, ensuring adaptability
          and effective training.

        </p>
        <br>
        <p>
          Quarry Management Project: As the Team Lead, I
          spearheaded the development of a robust new system
          using the latest technologies. We successfully completed
          the majority of export services and a portion of import
          functionalities. The project was not fully finalized due to the
          contract's expiration with the ministry
        </p>
        <br>

        <p>
          Throughout the project, it was an honor to collaborate
          closely with the ministry's technical team. I always
          valued their insights and expertise and was dedicated
          to offering consistent support and assistance
          whenever needed.
        </p>
        <br>
      </div>
      <div class="experience">
        <h2>Full-Stack Developer
        </h2>
        <h3>AMANAH TEK

          <span class="text-primary font-weight-bold" style="font-size: 16px;margin-left: 10px">MARCH 2021 - APRIL 2022

          </span>

        </h3>
        <p>
          Develop DMS is a powerful off-the-shelf Delivery
          Management platform, which enables businesses to
          modernize their delivery.
        </p>

      </div>
      <div class="experience">
        <h2>Full Stack Developer ( .Net Core Api - Angular )</h2>
        <h3>EC-SAT CO.
          <span class="text-primary font-weight-bold" style="font-size: 16px;margin-left: 10px">JULY 2018 - FEBRUARY
            2021

          </span>
        </h3>
        <p>
          Developed and Supported an "ERP System"
          Is a living embodiment of the Enterprise Resource
          Planning system Multi-branches, Multi-stock, Multi-unit,
          Multi-groups, Multi-categories, Journal entrys automatic.
        </p>
      </div>
      <div class="experience">
        <h2>Desktop Application Developer</h2>
        <h3>EL-SAFWA FOR TRADE&INDUSTRY
          <span class="text-primary font-weight-bold" style="font-size: 16px;margin-left: 10px">JULY 2016 - JUNE 2018

          </span>
        </h3>
        <p>
          Developed upgraded and maintained advanced financial
          industry software.

        </p>
        <p>
          Modified existing software to detect and correct errors,
          improve performance, and upgrade interfaces.

        </p>
      </div>
    </section>
    <section id="skills">
      <h1 class="section-heading">Skills</h1>
      <h2>Front End</h2>
      <ul>
        <li>Asp.Net Core MVC
          <span class="text-primary pr-1 pl-1">95%</span>
        </li>
        <li>Angular 6,7,8,9,10 <span class="text-primary pr-1 pl-1">90%</span>
          <i class="fa fa-thumbs-o-up text-primary pl-2" aria-hidden="true"></i>
        </li>
      </ul>
      <h2>BackEnd</h2>
      <ul>
        <li>Asp.Net Core Api <span class="text-primary pr-1 pl-1">90%</span>
          <i class="fa fa-thumbs-o-up text-primary pl-2" aria-hidden="true"></i>
        </li>
        <li>Firebase
          <span class="text-primary pr-1 pl-1">90%</span>
        </li>
        <li>Express.JS - Node.js
          <span class="text-primary pr-1 pl-1">60%</span>
        </li>
        <li>NestJS <span class="text-primary pr-1 pl-1">60%</span></li>
      </ul>
      <h2>Desktop Application</h2>
      <ul>
        <li>.NET Desktop <span class="text-primary pr-1 pl-1">100%</span>
          <i class="fa fa-thumbs-o-up highlight text-primary pl-2" aria-hidden="true"></i>
        </li>
        <li>Electron JS
          <span class="text-primary pr-1 pl-1">70%</span>
        </li>
      </ul>
      <h2>Mobile Application</h2>
      <ul>
        <li>ionic 3,4,5 <span class="text-primary pr-1 pl-1">95%</span>
          <i class="fa fa-thumbs-o-up text-primary pl-2" aria-hidden="true"></i>
        </li>
        <li>Xamarin Forms
          <span class="text-primary pr-1 pl-1">70%</span>
        </li>
        <li>Flutter
          <span class="text-primary pr-1 pl-1">50%</span>
        </li>
      </ul>
    </section>
    <section id="projects">
      <h1 class="section-heading">Projects</h1>
      <div class="project-container">
        <app-project></app-project>
      </div>
    </section>
  </main>
  <footer></footer>

</div>
