<div class="body container-fluid">
  <header>
    <nav id="navbar">
      <div class="portrait">
        <img src="assets\img\breakCartoon.jpg" alt="ahmed_break" />
      </div>
      <ul class="justify-content-center">
        <li><a href="#welcome-section">About</a></li>
        <li><a href="#Education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="welcome-section">
      <h1>
        <div class="mb-3">Hi there! I am</div>
        <div class="font-weight-bolder">Ahmed <span class="highlight">Break</span></div>
      </h1>
      <h2 class="info font-weight-bolder mt-3">
        <div><span class="highlight">Full-Stack</span> · Developer</div>
      </h2>
      <div class="info">
        1988 Cairo City · Egypt · (+20) 0111 9533 232 ·
        <span class="highlight">ahmed_break8@yahoo.com</span>
      </div>
      <p>
        Accomplished software developer with nine years of experience in development of applications. Excels in every
        stage of the life cycle of software development, including design creation, coding, debugging, testing, and
        maintenance. Expert in devising innovative and tailored solutions to assist businesses achieve their goals in a
        variety of industries. Advanced skills and knowledge of leading programming tools with a strong background in
        mathematics, algorithms, and data-processing logic.
      <div class="contacts">
        <a href="https://codepen.io/quocdat1994" target="_blank" data-toggle="tooltip" title="Last Project">
          <i class="fa fa-code" data-toggle="tooltip" title="Last Project"></i>

        </a>
        <a id="profile-link" href="https://github.com/AhmedBreak-HM" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://codepen.io/ahmedbreak-hm" target="_blank">
          <i class="fa fa-codepen"></i>
        </a>
        <a href="https://stackblitz.com/@AhmedBreak-HM" target="_blank">
          <i class="fa fa-bolt"></i>
        </a>
        <a href="https://www.facebook.com/ahmed.break.18" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/ahmed-break-98678319b" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCGJsFVJs8yj1f-wUVy8bVtg" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
    </section>
    <section id="Education">
      <h1 class="section-heading">Education</h1>
      <div class="experience">
        <h2 class="font-weight-bold text-secondary">B.Sc. Business Management, May 2009, Ain Shams University,The Grade
          Average is Good.</h2>
        <h2 class="font-weight-bold text-secondary">
          I am studying hard at faculty of graduate studies for statistical research cairo university to get Graduate
          Diploma in Computer Science.
        </h2>
      </div>

    </section>
    <section id="experience">
      <h1 class="section-heading">Experience</h1>
      <div class="experience">
        <h2 class="font-weight-bolder">Full-Stack Developer</h2>
        <h3>freelance</h3>
        <div>Oct 2019 - Present</div>
        <p class="text-left ">
          Developed E-Commerce Web APP :
        </p>
        <p>
          Is a Full Stack App, Front-End developed using Angular 8 and Back-End there are two options,
          the first developed using .NET Core Web API 3.1,
          and the second option developed using Firebase 7,
          <a class="text-primary ml-1" href="https://test-5dbca.web.app" target="_blank">
          View...</a>
        </p>

        <p class="text-left  mt-3">Developed and Support the "Break ERP System" utilizing C# and SQL Server,
          Is a living embodiment of Enterprise
          Resource Planning system.
        </p>
        <p><span class="highlight">Some features in Break ERP system : </span>Genius algorithms, Best and latest
          technologies Multi-currency,
          Multi-branches, Multi-stock, Multi-unit, Multi-groups, Multi-categories, Journal entry’s automatic, All
          financial statements and comparative dates, Trial Balance up to all levels statements and comparative dates,
          All planning and analysis in all activities, Beautiful design CleanCode Design Principles Design Patterns OOd
          OOP Maintainable Extensible Testable.</p>
        <!-- <p><span class="highlight">Security module: </span> Full control over all system processes.</p>
        <p><span class="highlight ">Basic data module: </span>Includes information for users, customers, suppliers,
          employees, stores, and branches,
          Currencies, categories stores, Groups stores, Accounts tree, Units.</p>
        <p><span class="highlight">Inventory module: </span>Store card, Item card, Main unit card, Sub-unit card,
          Receive Stock Voucher, Issuance Stock Voucher, Transfer Stock Voucher, Management Receive Stock Voucher,
          Management Issuance Stock Vouchers And others, Reports. </p>
        <p><span class="highlight">Purchase module: </span>Purchase order, Purchase invoice, Purchases returns,
          Management Purchase orders, Management Purchase invoices, Management Purchases returns and others, Reports.
        </p>
        <p><span class="highlight">Sales Module: </span>Sales order, Sales invoice, Sales returns, Management Sales
          orders, Management Sales invoices, Management Sales returns and others, Reports.</p>
        <p><span class="highlight">Installment Module: </span>Installment card, Installments receipts, Accrued, Payments
          and others, Reports. </p>
        <p><span class="highlight">Tax Module: </span>VAT, Tax on commercial and industrial profit (Withholding), Change
          can be made in accordance with country law.</p>
        <p><span class="highlight">Finance module: </span>Opening balance, General journal, Journal entry, receipts,
          payments, Checks and others financial statements according to International Accounting Standards Committee
          (IASC).</p> -->
        <p>support and assist many other projects. </p>

      </div>
      <div class="experience">
        <h2>Software Developer</h2>
        <h3>EL-SAFWA FOR TRADE & INDUSTRY</h3>
        <div>Apr 2017 - Sep 2019</div>
        <p>Developed upgraded and maintained advanced financial industry software.</p>
        <p>Modified existing software to detect and correct errors, improve performance, and upgrade interfaces.</p>
        <p>Coordinate the design and implementation of various applications, Prepared reports on specifications and
          activities for each project, Provide mentoring services to junior developers as needed.</p>
      </div>
      <div class="experience">
        <h2>Desktop Application Development</h2>
        <h3>ARABIA INVESTMENT & DEVELOPMENT CO</h3>
        <div>Jan 2014 - Mar 2017</div>
        <p>
          Developed applications to Linking stores, sales, purchases and general accounts, and preparing financial
          reports.
        </p>
        <p>
          Developed of financial reports to analyze the results of the activities of the company in terms of financial
          and
          compared with the plans and budgets estimated.
        </p>
        <p>
          Conducting systems analysis and preparation of financial programs that fit the activity of the establishment
          on the databases of Sql server and VB.NET.
        </p>
        <p>
          Development of information systems and databases and work on their integration in accordance with the
          standards, Designing and developing reports.
        </p>
      </div>
      <div class="experience">
        <h2>Financial Controller on software</h2>
        <h3>Military service</h3>
        <div>June 2012 - Aug 2013</div>
        <p>
          Worked in the leadership of the Third Army commander of the Army Office of Financial,
          Financial surveillance in Badr markets on software (New Mind system).
        </p>
      </div>
      <div class="experience">
        <h2>Junior Financial Analyst</h2>
        <h3>ARABIA INVESTMENT & DEVELOPMENT CO</h3>
        <div>May 2009 - May 2012</div>
        <p>
          Assist in the preparation of financial reports, With the help of computer spreadsheets, draw charts and graphs
          to illustrate technical reports,
          Analyze financial.
        </p>
      </div>
    </section>
    <section id="skills">
      <h1 class="section-heading">Skills</h1>
      <h2>Front End</h2>
      <ul>
        <li>Asp.Net Core MVC
          <span class="text-primary pr-1 pl-1">95%</span>
        </li>
        <li>Angular 6,7,8,9,10 <span class="text-primary pr-1 pl-1">90%</span>
          <i class="fa fa-thumbs-o-up text-primary pl-2" aria-hidden="true"></i>
        </li>
      </ul>
      <h2>BackEnd</h2>
      <ul>
        <li>Asp.Net Core Api <span class="text-primary pr-1 pl-1">90%</span>
          <i class="fa fa-thumbs-o-up text-primary pl-2" aria-hidden="true"></i>
        </li>
        <li>Firebase
          <span class="text-primary pr-1 pl-1">90%</span>
        </li>
        <li>Express.JS - Node.js
          <span class="text-primary pr-1 pl-1">60%</span>
        </li>
        <li>NestJS <span class="text-primary pr-1 pl-1">60%</span></li>
      </ul>
      <h2>Desktop Application</h2>
      <ul>
        <li>.NET Desktop <span class="text-primary pr-1 pl-1">100%</span>
          <i class="fa fa-thumbs-o-up highlight text-primary pl-2" aria-hidden="true"></i>
        </li>
        <li>Electron JS
          <span class="text-primary pr-1 pl-1">70%</span>
        </li>
      </ul>
      <h2>Mobile Application</h2>
      <ul>
        <li>ionic 3,4,5 <span class="text-primary pr-1 pl-1">95%</span>
          <i class="fa fa-thumbs-o-up text-primary pl-2" aria-hidden="true"></i>
        </li>
        <li>Xamarin Forms
          <span class="text-primary pr-1 pl-1">70%</span>
        </li>
        <li>Flutter
          <span class="text-primary pr-1 pl-1">50%</span>
        </li>
      </ul>
    </section>
    <section id="projects">
      <h1 class="section-heading">Projects</h1>
      <div class="project-container">
        <app-project></app-project>
      </div>
    </section>
  </main>
  <footer></footer>

</div>